local/.flows.json.backup
[
    {
        "id": "dedfba256312356e",
        "type": "tab",
        "label": "Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cab3d86bb384ee4",
        "type": "tab",
        "label": "Environment Variable (Test)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e80d5bb4a04c9975",
        "type": "tab",
        "label": "Firestore (Test)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bf253c3c26c632f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2ec89c9e13ddd9c",
        "type": "tab",
        "label": "M4-1 (Mobile Phone)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e464c3096fa78b4",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2ff557d85497cf2a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "My Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d3245bfbfc17903",
        "type": "mqtt-broker",
        "name": "ProdSup",
        "broker": "35.213.147.191",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e69e69a9959692c8",
        "type": "firebase admin",
        "name": "Adjusted"
    },
    {
        "id": "c07a1508a4bce39c",
        "type": "ui_group",
        "name": "Incident",
        "tab": "0e464c3096fa78b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d0aa13f66c8b8c4",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "871c51e643532b28",
        "type": "ui_group",
        "name": "Light",
        "tab": "3d0aa13f66c8b8c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b84b4529cbf82b63",
        "type": "mqtt-broker",
        "name": "Prodsup",
        "broker": "35.213.147.191",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8999ac6548696406",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "519e385237493066",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8487a1a8c1204711",
        "type": "ui_group",
        "name": "Flashlight",
        "tab": "519e385237493066",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "519e385237493066",
        "type": "ui_tab",
        "name": "Home (Mobile)",
        "icon": "dashboard",
        "disabled": true,
        "hidden": false
    },
    {
        "id": "b662ca0d9a6fffc0",
        "type": "mqtt in",
        "z": "dedfba256312356e",
        "name": "",
        "topic": "nnnpooh/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "5d3245bfbfc17903",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "b55c57ca76abe546"
            ]
        ]
    },
    {
        "id": "b55c57ca76abe546",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "const payloadJSON =  JSON.parse(msg.payload);\nconst values = payloadJSON['LSM6DSO Acceleration Sensor'].values\nconst norm = Math.sqrt( values[0]**2 + values[1]**2 + values[2]**2)\nmsg.payload = norm\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "a140fb6ad9eac996",
                "76ba1718164872ee",
                "d067b62bb4ed888b",
                "52c398a6e0b2c4b4"
            ]
        ]
    },
    {
        "id": "b59304987ee4f56b",
        "type": "inject",
        "z": "dedfba256312356e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"LSM6DSO Acceleration Sensor\":{\"values\":[10,20,20]}}",
        "payloadType": "str",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "b55c57ca76abe546",
                "be968757197180b8"
            ]
        ]
    },
    {
        "id": "a140fb6ad9eac996",
        "type": "switch",
        "z": "dedfba256312356e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "90ea110c514838e4",
                "23a030ece1edb17e"
            ],
            []
        ]
    },
    {
        "id": "4b6f65dd04ac59f0",
        "type": "http request",
        "z": "dedfba256312356e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "0dc3e17b2962ebe4"
            ]
        ]
    },
    {
        "id": "0dc3e17b2962ebe4",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "90ea110c514838e4",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "console.log(msg)\nconst date = new Date()\nconst datestring = date.toLocaleDateString()\nconst timestring = date.toLocaleTimeString()\n    \n    \nmsg.payload = {\n    message: `${datestring} ${timestring}\\nValue: ${msg.payload.toFixed(2)}`    \n}\n\nconst auth = `Bearer ${env.get(\"LINE_NOTIFY_TOKEN\")}`\nmsg.headers = {\n    \"Content-Type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\": auth}\n\nconsole.log(msg)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 140,
        "wires": [
            [
                "4b6f65dd04ac59f0"
            ]
        ]
    },
    {
        "id": "82b0fb85ea7581c8",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "2294d76429384be1",
        "type": "Firestore in",
        "z": "dedfba256312356e",
        "name": "Read",
        "collection": "incident",
        "group": false,
        "document": "",
        "realtime": true,
        "query": [
            {
                "orderBy": {
                    "field": "timestamp",
                    "direction": "desc"
                }
            },
            {
                "limit": 10
            }
        ],
        "admin": "e69e69a9959692c8",
        "snapHandler": "",
        "eject": false,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "47e5b174c1279601"
            ]
        ]
    },
    {
        "id": "bfc060f6da0d2c64",
        "type": "Firestore out",
        "z": "dedfba256312356e",
        "name": "Write",
        "collection": "incident",
        "document": "test",
        "operation": "set",
        "admin": "e69e69a9959692c8",
        "eject": false,
        "x": 950,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "23a030ece1edb17e",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "const val = msg.payload\nconst now = new Date()\nconst timestamp = now.getTime()\nconst dateString = now.toISOString();\nmsg.payload = {timestamp:timestamp,  value: val}\nmsg.firestore = {\"document\": dateString}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "bfc060f6da0d2c64"
            ]
        ]
    },
    {
        "id": "3183c3978a7f15b0",
        "type": "ui_text",
        "z": "dedfba256312356e",
        "group": "c07a1508a4bce39c",
        "order": 3,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Last 10 Incidents",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "47e5b174c1279601",
        "type": "function",
        "z": "dedfba256312356e",
        "name": "",
        "func": "let payload = msg.payload\nlet textOut = ''\n\nfor (const [key, value] of Object.entries(payload)) {\n    const date = new Date(value.timestamp)\n    const datestring = date.toLocaleDateString()\n    const timestring = date.toLocaleTimeString()\n    const reading = value.value.toFixed(2)\n    textOut += `${datestring} ${timestring}: ${reading} \\n`\n}\n\nmsg.payload = textOut;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "82b0fb85ea7581c8",
                "3183c3978a7f15b0"
            ]
        ]
    },
    {
        "id": "be61f758f671d229",
        "type": "comment",
        "z": "dedfba256312356e",
        "name": "Receiving sensor data",
        "info": "MQTT",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "76ba1718164872ee",
        "type": "ui_chart",
        "z": "dedfba256312356e",
        "name": "",
        "group": "c07a1508a4bce39c",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d067b62bb4ed888b",
        "type": "ui_gauge",
        "z": "dedfba256312356e",
        "name": "",
        "group": "c07a1508a4bce39c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "8",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "1b26f81987873089",
        "type": "mqtt out",
        "z": "dedfba256312356e",
        "name": "",
        "topic": "nnnpooh/light",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d3245bfbfc17903",
        "x": 440,
        "y": 640,
        "wires": []
    },
    {
        "id": "cebae9bbd16461d0",
        "type": "ui_button",
        "z": "dedfba256312356e",
        "name": "",
        "group": "871c51e643532b28",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light On",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "torch_on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "1b26f81987873089",
                "e72fcf8e3a0ec588"
            ]
        ]
    },
    {
        "id": "079370b1b43d42d2",
        "type": "ui_button",
        "z": "dedfba256312356e",
        "name": "",
        "group": "871c51e643532b28",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "",
        "payload": "torch_off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "1b26f81987873089",
                "e72fcf8e3a0ec588"
            ]
        ]
    },
    {
        "id": "e72fcf8e3a0ec588",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 760,
        "wires": []
    },
    {
        "id": "ae4368b087918d14",
        "type": "comment",
        "z": "dedfba256312356e",
        "name": "Display data from Firebase",
        "info": "MQTT",
        "x": 170,
        "y": 400,
        "wires": []
    },
    {
        "id": "f2f8bdf9678dcd5c",
        "type": "comment",
        "z": "dedfba256312356e",
        "name": "Controlling light",
        "info": "MQTT",
        "x": 140,
        "y": 580,
        "wires": []
    },
    {
        "id": "be968757197180b8",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 260,
        "wires": []
    },
    {
        "id": "52c398a6e0b2c4b4",
        "type": "debug",
        "z": "dedfba256312356e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "2e2c5b29411b1191",
        "type": "inject",
        "z": "9cab3d86bb384ee4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FIREBASE_SERVICE_ACCOUNT",
        "payloadType": "env",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "ddbd2ad8e14cc9a6"
            ]
        ]
    },
    {
        "id": "ddbd2ad8e14cc9a6",
        "type": "debug",
        "z": "9cab3d86bb384ee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "cd5770bc81803a34",
        "type": "debug",
        "z": "e80d5bb4a04c9975",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "0ab0ba3cf3280e79",
        "type": "Firestore in",
        "z": "e80d5bb4a04c9975",
        "d": true,
        "name": "Read",
        "collection": "incident",
        "group": false,
        "document": "",
        "realtime": true,
        "query": [
            {
                "orderBy": {
                    "field": "timestamp",
                    "direction": "desc"
                }
            },
            {
                "limit": 10
            }
        ],
        "admin": "e69e69a9959692c8",
        "snapHandler": "",
        "eject": false,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "f87ad3650245326b"
            ]
        ]
    },
    {
        "id": "5df5c4e6cfbb7999",
        "type": "inject",
        "z": "e80d5bb4a04c9975",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "firestore",
                "v": "{\"document\":\"1234\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 440,
        "y": 380,
        "wires": [
            [
                "62567ed060928356"
            ]
        ]
    },
    {
        "id": "5ceee284919488f6",
        "type": "Firestore out",
        "z": "e80d5bb4a04c9975",
        "d": true,
        "name": "Write",
        "collection": "incident",
        "document": "test",
        "operation": "set",
        "admin": "e69e69a9959692c8",
        "eject": false,
        "x": 930,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "62567ed060928356",
        "type": "function",
        "z": "e80d5bb4a04c9975",
        "name": "",
        "func": "const timestamp = msg.payload\nconst date = new Date();\nconst dateString = date.toISOString();\n\nmsg.payload = {timestamp:timestamp,  value: Math.random()}\nmsg.firestore = {\"document\": dateString}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 380,
        "wires": [
            [
                "5ceee284919488f6"
            ]
        ]
    },
    {
        "id": "f87ad3650245326b",
        "type": "function",
        "z": "e80d5bb4a04c9975",
        "name": "",
        "func": "let payload = msg.payload\nlet textOut = ''\n\nfor (const [key, value] of Object.entries(payload)) {\n    const date = new Date(value.timestamp)\n    const datestring = date.toLocaleDateString()\n    const timestring = date.toLocaleTimeString()\n    const reading = value.value.toFixed(2)\n    \n    \n    textOut += `${datestring} ${timestring}: ${reading} \\n`\n    \n    \n}\n\n\nmsg.payload = textOut;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "cd5770bc81803a34"
            ]
        ]
    },
    {
        "id": "e0aef0052bda6471",
        "type": "inject",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "58bb86341f0f3501"
            ]
        ]
    },
    {
        "id": "58bb86341f0f3501",
        "type": "exec",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "command": "termux-sensor -s LSM6DSO Acceleration Sensor",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "276dc1b59b2da818",
                "763e53c109b1b8e4"
            ],
            [
                "276dc1b59b2da818"
            ],
            [
                "276dc1b59b2da818"
            ]
        ]
    },
    {
        "id": "276dc1b59b2da818",
        "type": "debug",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "5823a7d8fd99a617",
        "type": "exec",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "command": "termux-sensor -c",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "7781cf292a617351"
            ],
            [
                "7781cf292a617351"
            ],
            [
                "7781cf292a617351"
            ]
        ]
    },
    {
        "id": "f3eaa68ab34bbfb1",
        "type": "inject",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "5823a7d8fd99a617"
            ]
        ]
    },
    {
        "id": "763e53c109b1b8e4",
        "type": "mqtt out",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "name": "",
        "topic": "nnnpooh/sensors",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b84b4529cbf82b63",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "7781cf292a617351",
        "type": "debug",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "c6a560002a9bc19d",
        "type": "comment",
        "z": "f2ec89c9e13ddd9c",
        "name": "Accelerometer",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "58466b683f94cfa8",
        "type": "comment",
        "z": "f2ec89c9e13ddd9c",
        "name": "Reset sensors",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "38aacf6252036750",
        "type": "ui_button",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "name": "",
        "group": "8999ac6548696406",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Sensor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "58bb86341f0f3501"
            ]
        ]
    },
    {
        "id": "df5bfa0d8e518c8f",
        "type": "ui_button",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "name": "",
        "group": "8999ac6548696406",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset/Stop Sensor",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "5823a7d8fd99a617"
            ]
        ]
    },
    {
        "id": "4fb5ed01fab49b55",
        "type": "inject",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "8e5ed2a3cb14933c"
            ]
        ]
    },
    {
        "id": "8e5ed2a3cb14933c",
        "type": "exec",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "command": "termux-torch on",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "867d7a049f96032e",
        "type": "inject",
        "z": "f2ec89c9e13ddd9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 800,
        "wires": [
            [
                "cffad811988a6826"
            ]
        ]
    },
    {
        "id": "cffad811988a6826",
        "type": "exec",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "command": "termux-torch off",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "01dbcb5b40e49cdf",
        "type": "ui_button",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "name": "",
        "group": "8487a1a8c1204711",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "On",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "8e5ed2a3cb14933c"
            ]
        ]
    },
    {
        "id": "91f5a17d1f5d5838",
        "type": "ui_button",
        "z": "f2ec89c9e13ddd9c",
        "d": true,
        "name": "",
        "group": "8487a1a8c1204711",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "cffad811988a6826"
            ]
        ]
    }
]